<h1 mat-dialog-title>Add New Song</h1>
<div mat-dialog-content>
   
    <form [formGroup]="productForm" (submit)="onSubmit()">

        <mat-form-field appearance="outline">
            <mat-label>songName </mat-label>
            <input formControlName="songName" matInput placeholder="songName">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>artistName</mat-label>
            <input formControlName="artistName" matInput placeholder="artistName">

        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Relize Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="relizeDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <input formControlName="category" matInput type="text" placeholder="category">
        </mat-form-field>
        
        <button type="submit" style="margin-left: 8px;" mat-raised-button color="primary">Save</button>
    </form>
    <p *ngIf="status">
        Product Added.
    </p>
    <p *ngIf="error">
        All Filds Required!
    </p>
</div>
<div mat-dialog-action [align]="'end'">

    <tr *ngFor="let item of songs ; let itemIndex = index ">
        
        <td>{{item.songName}}</td>
        <td>{{item.artistName}}</td>
        <td>{{item.category}}</td>
        <td>{{item.relizeDate}}</td>

        <td>   
            <button class="btn btn-del" (click)="deleteProduct(itemIndex)">Delte</button>
        </td>
        </tr>
</div>